<div class="col-md-6 col-md-offset-3">
  <% if @mechanic.lat != nil || @mechanic.lng != nil %>
  <h3>Location:</h3>
  <div id="map"></div>
  <script>
    function initMap() {
      var uluru = {lat: <%=@mechanic.lat %>, lng: <%=@mechanic.lng %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfqLD8lqIDRMoG9jM7qOTaSdD075itZ-E&callback=initMap">
  </script>
  <% end %>
</div>
